{% extends '::base.html.twig' %}

{% block body %}
    <h1>Dane osoby</h1>
    <div class="jumbotron">
    <h3>Imię: {{ person.name }} </h3>
    <h3>Nazwisko: {{ person.surname }}</h3><br>
    <h4>Opis: {{ person.description }} </h4>
    <br>

    <h4>Adresy:</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>L.p.</th>
            <th>Adres</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ address.city }}, {{ address.street }} {{ address.houseNum }} m. {{ address.flatNum }}</td>
            </tr>
        {% else %}
            <p>Brak adresów</p>
        {% endfor %}
        </tbody>
    </table>
    <div>


    <h4>Adresy e-mail:</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>L.p.</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>

        {% for email in emails %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ email.emailAddr }}, {{ email.emailType }} </td>
            </tr>
        {% else %}
            <p>Brak adresów e-mail</p>
        {% endfor %}
        </tbody>
    </table>
    <div>

    <h4>Numery  e-telefonu:</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>L.p.</th>
            <th>Nr telefonu</th>
        </tr>
        </thead>
        <tbody>

        {% for phone in phones %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ phone.phoneNum }}, {{ phone.phoneType }} </td>
            </tr>
        {% else %}
            <p>Brak numerów telefonu</p>
        {% endfor %}
        </tbody>
    </table>
    <div>

{% endblock %}